.container {
  width: 80%;
  margin: auto; }

@media (max-width: 1020px) {
  .navbar__menu-list {
    display: none !important; } }
@media (max-width: 700px) {
  .navbar__help li {
    display: none !important; } }
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar__menu {
    display: flex;
    flex-basis: 33.3%; }
    .navbar__menu-hamburger {
      background: none;
      border: none;
      padding-top: 3px; }
      .navbar__menu-hamburger span {
        background: black;
        display: block;
        height: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 20px; }
    .navbar__menu-list {
      display: flex; }
      .navbar__menu-list li {
        margin-right: 40px; }
      .navbar__menu-list a {
        font-size: 17px;
        color: #000; }
  .navbar__logo {
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
    flex-basis: 33.3%; }
  .navbar__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 33.3%; }
    .navbar__help-list {
      display: flex;
      justify-content: flex-end; }
      .navbar__help-list li {
        margin-right: 30px; }
      .navbar__help-list li:last-child {
        margin-right: 10px; }
      .navbar__help-list a {
        color: #000; }
    .navbar__help-btn {
      width: 130px;
      height: 54px;
      background: #267df4;
      color: white;
      border-radius: 30px;
      border: none; }

@font-face {
  font-family: 'lato light';
  src: url("../fonts/Lato-Light.ttf") format("trutype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lato regular';
  src: url("../fonts/Lato-Regular.ttf") format("trutype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lato bold';
  src: url("../fonts/Lato-Bold.ttf") format("trutype");
  font-weight: normal;
  font-style: normal; }
.header {
  height: 100%;
  background: url("../img/bg_header.png") no-repeat bottom/cover;
  overflow: auto; }
  .header__content-title {
    margin-top: 95px;
    font-size: 55px;
    text-align: center;
    font-family: 'lato bold', sans-serif; }
  .header__content-text {
    text-align: center;
    font-size: 20px;
    margin-top: 50px; }
  .header__content-button {
    margin: 55px auto;
    text-align: center;
    display: flex;
    width: 200px;
    height: 50px;
    border: 2px solid #dadcdf;
    border-radius: 30px;
    justify-content: center;
    align-items: center; }
    .header__content-button a {
      color: #000;
      font-size: 17px; }
  .header__content-bg_img {
    justify-content: center;
    display: flex;
    align-items: flex-end;
    text-align: center; }

@font-face {
  font-family: 'lato light';
  src: url("../fonts/Lato-Light.ttf") format("trutype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lato regular';
  src: url("../fonts/Lato-Regular.ttf") format("trutype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lato bold';
  src: url("../fonts/Lato-Bold.ttf") format("trutype");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  padding: 0;
  font-family: 'lato regular', sans-serif; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

p {
  color: #8c8f94; }

@font-face {
  font-family: 'lato light';
  src: url("../fonts/Lato-Light.ttf") format("trutype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lato regular';
  src: url("../fonts/Lato-Regular.ttf") format("trutype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lato bold';
  src: url("../fonts/Lato-Bold.ttf") format("trutype");
  font-weight: normal;
  font-style: normal; }
.features {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 120px; }
  .features__content-block {
    margin-left: 50px;
    flex-basis: 50%; }
    .features__content-block__title {
      margin-top: 40px;
      font-size: 24px;
      margin-bottom: 50px; }
    .features__content-block__text {
      margin-top: 30px;
      font-size: 18px; }

.section-iphone-feat {
  background: url("../img/iPhone-6.png") no-repeat top/cover;
  background-size: 800px 800px;
  background-position-x: 0;
  background-position-y: 200px; }

.iphone-features {
  display: flex;
  justify-content: flex-end; }
  .iphone-features__content-block {
    width: 40%;
    margin-top: 265px; }
    .iphone-features__content-block__title {
      font-size: 40px;
      width: 43%;
      margin-bottom: 60px; }
    .iphone-features__content-block__text {
      margin-top: 40px;
      font-size: 18px;
      width: 89%; }
    .iphone-features__content-block__buttons {
      margin-top: 75px;
      margin-bottom: 280px; }
      .iphone-features__content-block__buttons__try-to {
        width: 200px;
        height: 45px;
        border: none;
        border-radius: 30px;
        background: #267df4;
        color: white; }
      .iphone-features__content-block__buttons__learn-more {
        width: 140px;
        height: 45px;
        border: 2px solid #e9e9ea;
        border-radius: 30px;
        background: white; }

@font-face {
  font-family: 'lato light';
  src: url("../fonts/Lato-Light.ttf") format("trutype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lato regular';
  src: url("../fonts/Lato-Regular.ttf") format("trutype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lato bold';
  src: url("../fonts/Lato-Bold.ttf") format("trutype");
  font-weight: normal;
  font-style: normal; }
.map-features {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px; }
  .map-features__content-block {
    flex-basis: 40%; }
    .map-features__content-block__title {
      font-size: 42px; }
    .map-features__content-block__text {
      font-size: 18px; }
    .map-features__content-block__partners_name {
      display: block;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 30px;
      font-family: 'lato bold', sans-serif; }
    .map-features__content-block__partners__logo {
      margin-top: 25px; }

/*# sourceMappingURL=style.css.map */
